.bodyody{
    background-color: aquamarine;
}
.div1{
    background-color: darkturquoise;
}
.div2{
    background-color: darkkhaki;
}
.div3{
    background-color: beige;
}
.div4{
    background-color:plum;
}
#p1{
    background-color: blue;
    color: white;
}
#p2{
    background-color: brown;
    color: white;
}
#p3{
    background-color: chocolate;
    color: white;
}
#p4{
    background-color: darkolivegreen;
    color: white;
}